n8n/ghost-build-trigger.workflow.json
{
  "name": "Ghost CMS Build Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghost-build",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Ghost Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ghost-build-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-visibility",
              "leftValue": "={{ $json.body.post.current.visibility }}",
              "rightValue": "public",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-public",
      "name": "Is Public Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds",
        "options": {
          "onlyLast": true
        }
      },
      "id": "wait-debounce",
      "name": "Debounce 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/duchangkim/new.duchi.click/actions/workflows/deploy.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"trigger_source\": \"ghost-webhook\",\n    \"post_title\": \"{{ $json.body.post.current.title || 'Unknown' }}\"\n  }\n}",
        "options": {}
      },
      "id": "github-dispatch",
      "name": "Trigger GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Skip (Not Public)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [690, 480]
    }
  ],
  "connections": {
    "Ghost Webhook": {
      "main": [
        [
          {
            "node": "Is Public Post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Public Post?": {
      "main": [
        [
          {
            "node": "Debounce 30s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (Not Public)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce 30s": {
      "main": [
        [
          {
            "node": "Trigger GitHub Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
